$neutral1: #3B3E40;
$neutral2: #565A5C;
$neutral3: #818689;
$neutral4: #AFB5B8;
$neutral5: #E5EBEF;
$neutral6: #E5EBEF;

// Dark Accents
$accent-dark1: #006A53;
$accent-dark2: darken(#006A53, 2%);
$accent-dark3: darken(#006A53, 4%);
$accent-dark4: darken(#006A53, 6%);

// Medium Accents
$accent-medium1: #df2d36;
$accent-medium2: darken(#df2d36, 2%);
$accent-medium3: darken(#df2d36, 4%);
$accent-medium4: darken(#df2d36, 6%);

$accent-secondary: #3B8523;
$accent-secondary1: #62bb46;
// Light Accents
$accent-light1: #E2AB25;
$accent-light2: #F1BA34;
$accent-light3: #FFCC51;

$red : #A04D58;
$blue : #3273B0;

$accent-gradient-medium: linear-gradient(270deg, $accent-medium3 0%, $accent-medium1 100%);
$accent-gradient-dark: linear-gradient(270deg, $accent-dark1 0%, $accent-dark3 100%);

$dark-nav-color: $neutral1;

.button.midgray{
	background: $neutral4;
}