@mixin overlay($bgColor: $neutral1, $bgOpacity: 0.8){
	position: relative;
	
	&:before{
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background: $bgColor;
	    opacity: $bgOpacity;
	}
	
	.grid-x, .grid-y {
		position: relative;
		z-index: 2;
	}
}

@mixin font-color($color: inherit) {
	color: $color;
	p, h1, h2, h3, h4, h5, h6 {
	    color: $color;
	}
	a:not(.button) {
		color: $color;
		text-decoration: underline;
	}
}

@mixin center-background-image() {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin linear-gradient($color1: $accent-dark1, $color2: $accent-dark2, $direction: '270deg') {
	background: linear-gradient($direction, $color1 0%, $color2 100%);
}