form#clinic-finder-form {
	input, select {
		background-color: $white;
	}
	
	#geolocation-button {
		// margin-bottom: 0;
	}

	#zip-container {
		position: relative;
		margin-bottom: rem-calc(16);

		input {
			margin-bottom: 0;
		}

		#zip-submit {
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translate(0, -50%);
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			padding: 0;
			border-radius: 30px;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}