.off-canvas-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  #main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    .main-container {
      width: 100%;
    }
  }
}


// IE Our Affiliates whitespace fix - JHL 1/8/20
.page-template-default #main-content {
  height: 100%;
  #post-31 {
    height: 100%;
  }
} 

.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  margin-top: 2rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
    @include flex-align(center, null);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
    @include breakpoint(medium) {
      @include xy-cell(11);
    }
    @include breakpoint(large) {
      @include xy-cell(10);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
      margin-top: 1rem;
    }

  }
}

header.simple-title {
  @include linear-gradient($accent-dark4, $accent-dark1, 0deg);
  padding: 1rem 0;

  .entry-title {
    color: $white;
    margin-bottom: 0;
  }
}