.site-footer {
  margin-top: rem-calc(60);
  color: $white;
  position: relative;
  overflow: hidden;
  @include breakpoint(small only) {
    text-align: center;
  }

  #social-media-container {
    .button-group, .button {
      margin-bottom: 0;
      
    }
    .button{
      background: $accent-secondary;
    }
  
    @include breakpoint(large) {
      #social-media-links {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 100%;
          width: 100vw;
          height: 100%;
          background: $accent-dark1;
        }
      }
    }

    .button {
      border-radius: 0;

      &:last-of-type {
        border-radius: 0 $rounded-radius 0 0;
      }
    }
  }

  #footer-container {
    background: $accent-dark1;
    @include breakpoint(medium down) {
      padding-bottom: rem-calc(80);
    }
  }

  .footer-menu {
    padding: rem-calc(16) 0;
    @include breakpoint(large) {
      transform: translate(0, -16px);
      margin-top: -16px;
    }

    a {
      padding-left: 0;
    }
  }

  a:not(.button) {
    color: $white;
  }

  #copyright, #attribution {
    font-size: rem-calc(14);
  }

  #attribution {
    text-decoration: underline;
  }

  .quick-links {
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: $white;
    padding-top: 1px;

    .button {
      margin-bottom: 0;
      border-radius: 0;
      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }
}