$large-header-height: 125px;
$medium-header-height: 80px;

// Navigation breakpoints
.mobile-navigation-bar,
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}
//
.desktop-navigation-bar,
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

#skip-to-main-content {
	display: block;
	width: 100%;
	background: $white;
	padding-left: 8px;
}

body {
	@include breakpoint(medium down) {
		padding-top: $medium-header-height;
	}
}

.site-header {
	position: relative;
	z-index: 99;
	background: $white;

	@include breakpoint(medium down) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		box-shadow: 0 5px 7px 0 rgba(0,0,0,0.15);
	}

	img.logo {
		max-width: 330px;
		
		width: 100%;
		height: 100px;
	}

	.mobile-navigation-bar {
		height: $medium-header-height;
		@include breakpoint(medium) {
			height: $medium-header-height;
		}
		@include xy-grid();
		@include flex-align(null, stretch);
		.title-bar-left {
			@include xy-cell(auto);
			@include xy-grid();
			@include flex-align(null, middle);
		}
		.title-bar-right {
			@include xy-cell(shrink, null, 0, none);
		}

		img.logo {
			padding: rem-calc(8) 0;
			//width: auto;
			height: auto;
			max-height: $medium-header-height;
		}

		.title-bar-right {
			position: relative;
			vertical-align: top;
			.grid-x {
				height: 100%;
			}
		}

		#mobile-menu-toggle {
			width: 40px;
			height: 100%;
			background: $white;
			position: relative;
			display: inline-block;
			margin-right: 16px;

			span {
				position: absolute;
				background: $accent-dark2;
				top: 50%;
				right: 3px;
				left: 3px;
				height: 3px;
				transform: translate(0, 0);
				transition: all $offcanvas-transition-length ease;

				&:nth-child(1) {
					transform: translate(0, -7px);
					left: 3px;
				}

				&:nth-child(2) {
					transform: translate(0, 0);
					left: 12px;
				}

				&:nth-child(3) {
					transform: translate(0, 7px);
					left: 18px;
				}
			}

			&.toggled {
				span {
					background: $accent-medium2;

					&:nth-child(1) {
						left: 3px;
						right: 15px;
					}

					&:nth-child(2) {
						left: 3px;
						right: 9px;
					}

					&:nth-child(3) {
						left: 3px;
						right: 3px;
					}
				}
			}
		}

		#information-pane-toggle {
			height: 100%;
			margin-bottom: 0;
			color: $neutral3;
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
		}

		#return-site-alert {
			height: 100%;
			margin-bottom: 0;
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
		}
	}

	.desktop-navigation-bar {
		height: $large-header-height;
		@include xy-grid-container;
		@include xy-grid();
		@include flex-align(null, middle);

		.top-bar-left {
			@include xy-cell(5, null, 0, none);
			@include flex-align(center, null);
		}
		.top-bar-right {
			@include xy-cell(12, null, 0, none);
			@include xy-grid();
			@include flex-align(center, null);
			@include breakpoint(large) {
				@include xy-cell(7, null, 0, none);
				@include flex-align(right, null);
			}

			.desktop-menu {
				@include xy-cell(12, null, 0, none);
				@include flex-align(right, null);

				> li {
					> a {
						text-transform: uppercase;
						font-weight: $global-weight-bold;
						color: $neutral2;
						font-size: rem-calc(16);
						font-weight: $global-weight-extrabold;
					}

					&:last-child > a {
						padding-right: 0;
					}
				}

				> li.is-dropdown-submenu-parent > a {
					padding: $global-menu-padding;
					&::after	{
						content: none;
					}
				}

				.submenu {
					border: none;
					box-shadow: 0 5px 7px 0 rgba(0,0,0,0.29);
					padding: rem-calc(12);
					a {
						color: $neutral1;
					}
				}			
			}

			.mobile-menu {
				@include xy-cell(12);
			}

			#top-bar-button-group {
				width: 100%;
			}
		}
	}
}

body.is-off-canvas-open {
	.site-header {
		box-shadow: none;
	}
}

.quick-links {
	.button {
		font-size: rem-calc(12);
		font-weight: $global-weight-bold;
		@include breakpoint(large) {
			width: 126px;
		}
		i, svg {
			display: block;
			text-align: center;
			margin-bottom: 4px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.mobile-off-canvas-menu {
	padding-top: rem-calc($medium-header-height);

	#off-canvas-button-group {
		.button-group {
			margin-bottom: 0;
		}
		.button {
			border-radius: 0;
			margin-bottom: 0;
		}
	}

	.mobile-menu {
		background: $neutral6;

		a {
			color: $body-font-color;
		}

		> li {
			background-color: transparent;
			transition: background-color 0.2s ease;

			> a {
				margin-right: 0;
				margin-left: 50px;
				font-weight: $global-weight-extrabold;
				font-size: rem-calc(22);
				padding-top: rem-calc(18);
				padding-bottom: rem-calc(18);
			}

			&.expanded {
				background-color: $neutral5;
			}
		}

		.submenu {
			margin-left: 50px;
			padding-bottom: rem-calc(16);

			a {
				font-size: rem-calc(16);
				font-weight: $global-weight-semibold;
			}
		}
	}

	.has-submenu-toggle {
		> a {
			margin-right: 0;
		}
		
		.submenu-toggle {
			top: 8px;
			right: auto;
			left: 10px;

			&::after {
				content: '+';
				color: $accent-dark2;
				font-weight: $global-weight-bold;
				font-size: rem-calc(22);
				border: none;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: $accordionmenu-submenu-toggle-width;
				height: $accordionmenu-submenu-toggle-height;
				line-height: $accordionmenu-submenu-toggle-height;
			}

			&[aria-expanded='true']::after {
				transform: none;
				content: '-';
			}
		}
	}
}

// #return-site-alert {
// 	position: absolute;
// 	top: $medium-header-height;
// 	left: 0;
// 	z-index: 98;
// 	@include breakpoint(large) {
// 		top: $large-header-height;
// 	}
// }

#site-alert {
	background: $neutral6;
	position: relative;
	// position: absolute;
	// left: 0;
	// right: 0;
	// top: $medium-header-height;
	min-height: 86px;
	padding-left: 32px;
	z-index: 12;

	#alert-label {
		background: $alert-color;
		color: $white;
		position: absolute;
		width: 86px;
		height: 32px;
		line-height: 32px;
		letter-spacing: 1px;
		top: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		text-transform: uppercase;
		font-weight: $global-weight-bold;
		transform-origin: top right;
		transform: rotate(-90deg) translate(0, -86px);
	}

	#alert-title {
		line-height: 1.2;
	}

	.button {
		margin-bottom: 0;
	}

	@include breakpoint(large) {
		min-height: 150px;
		.grid-x {
			min-height: 150px
		}
		padding-left: 50px;
		// top: $large-header-height;

		#alert-label {
			width: 150px;
			height: 50px;
			line-height: 50px;
			font-size: rem-calc(24);
			transform: rotate(-90deg) translate(0, -150px);
		}
	}

	@include breakpoint(1300px) {
		padding-left: 0;
	}
}

#desktop-return-site-alert {
	position: fixed;
	right: 0;
	top: 50%;
	transform: rotate(-90deg) translate(80px, 55%);
	z-index: 12;
	border-radius: $button-radius;
	margin-bottom: 0;
	transition: all $offcanvas-transition-length ease;
}
.menu .is-active > a{
	background: transparent;
}