#desktop-information-pane-toggle {
	position: fixed;
	right: 0;
	top: 50%;
	// transform-origin: center;
	transform: rotate(-90deg) translate(0, 50%);
	z-index: 99;
	border-radius: $button-radius;
	margin-bottom: 0;
	transition: all $offcanvas-transition-length ease;
}

body.is-off-canvas-open #desktop-information-pane-toggle {
	right: 300px;
}

#help-information-pane.off-canvas {
	background: $white;
	padding-top: $medium-header-height;
	@include breakpoint(large) {
		padding-top: $large-header-height;
	}
	@include breakpoint(large) {
		width: 300px;
	}

	.accordion {
		background: $light-gray;
		.accordion-item {

			&.is-active {
				&, &:hover, &:focus {
					background: $accent-dark3;
					&, a {
						background: $accent-dark3;
						color: $white;
					}
				}
			}

			.accordion-title {

			}

			.accordion-content {
				background: $accent-dark3;
				color: $white;
			}
		}
	}
}