.accordion {
	.accordion-item {
		border-bottom: 1px solid $neutral5;
		&.is-active {
			background: $accordion-content-background;
		}

		a:before {
			color: $accent-dark3;
			font-size: 18px;
			font-weight: $global-weight-bold;
		}
	}
}

.wp-block-accordion {
	margin-bottom: rem-calc(64);
}