.wp-block-quote {
	border-left: 10px solid $secondary-color;
	color: $accent-medium2;
	font-weight: $global-weight-bold;
	font-style: italic;
	padding-bottom: rem-calc(8);

	p, cite {
		color: $accent-medium2;
		@extend .lead;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}