.wp-block-click-to-expand {
	padding-top: rem-calc(32);
	padding-bottom: rem-calc(32);

	&.alignfull {
		width: 100vw;
		margin-left: 0;
		margin-left: calc(50% - 50vw);
	}

	.block-heading {
		text-transform: uppercase;
		font-weight: $global-weight-bold;
	}

	.click-to-expand-accordion {
		background: $neutral6;
		.accordion-item {
			border-bottom: 2px solid $white;
			transition: all 0.2s ease;

			a {
				color: $primary-color;
				font-weight: $global-weight-bold;
				background: transparent;
				transition: all 0.2s ease;
				&:hover {
					background: $neutral5;
				}

				&:before {
					color: $accent-dark3;
					font-size: 18px;
					font-weight: $global-weight-bold;
					transition: all 0.2s ease;
				}
			}

			&.is-active {
				@include linear-gradient($accent-dark1, $accent-dark3, 0deg);
				color: $white;

				a {
					color: $white;
					&:hover {
						background: transparent;
					}
					&:before {
						color: $white;
					}
				}
				.accordion-content {
					background: transparent;
					@include font-color($white);
					color: $white;
				}
			}
		}
	}

	.click-to-expand-tabs-container {
		position: relative;
		@include linear-gradient($accent-dark1, $accent-dark3, 90deg);

		.tabs {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			border: 0;

			li {
				width: 25%;
				position: absolute;
				top: 0;
				left: 0;
				right: auto;
				height: 100px;
			}

			li.right {
				left: auto;
				right: 0;
			}
		
			.tabs-title, .tabs-placeholder {
				background: $neutral6;
				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					border-bottom: 3px solid $white;
					z-index: 2;
				}

				.tabs-link {
					height: 100px;
					padding: rem-calc(0 16 0 24);
					font-size: rem-calc(20);
					display: flex;
				    flex-direction: row;
				    align-items: center;

					i, .svg-inline--fa {
						margin-right: rem-calc(8);
					}
				}

				&.is-active {
					&, a {
						background: transparent;
						color: $white;
					}
				}
			}
		}

		.click-to-expand-tabs-content-container {
			padding: rem-calc(32 64);
			border: 0;
			background: transparent;
			width: 50%;
			margin: 0 25%;
			@include font-color($white);

			.tabs-panel {
				.icon {
					font-size: rem-calc(48);
					margin-bottom: rem-calc(32);
				}

				.item-title {
					margin-bottom: rem-calc(32);
				}
			}
		}
	}
}

.whatinput-types-mouse {
	.wp-block-click-to-expand {
		.accordion-item {
			a:focus {
				background: transparent;
			}
		}
	}
}