.wp-block-cta {
	position: relative;

	&.alignfull {
		width: 100vw;
		margin-left: 0;
		margin-left: calc(50% - 50vw);
	}

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: rem-calc(160 0 32);
	@include breakpoint(large) {
		padding: rem-calc(128) 0;
	}

	&.has-image {
		position: relative;
		@include overlay($white, 1);
		&:before {
			@include linear-gradient(rgba($white, 1), rgba($white, 0.5), 0deg);
			@include breakpoint(large) {
				@include linear-gradient(rgba($white, 0.9), rgba($white, 0.5), 90deg);
				background: linear-gradient(90deg, $white 0%, rgba($white,0.74) 44.84%, rgba($white,0.1) 100%);
			}
			z-index: 1;
		}
	}

	.grid-container {
		position: relative;
		z-index: 2;
	}
}