.wp-block-emergency-vs-uc {
	width: 100vw;
	margin-left: 0;
	margin-left: calc(50% - 50vw);
	padding: rem-calc(48) 0;
	.comparison-container {
		position: relative;
	}

	.heading-container {
		position: relative;
	}

	.comparison-heading {
		padding: rem-calc(48 32);
		@include breakpoint(large) {
			padding: rem-calc(32);
		}
		color: $white;
		margin: 0;	
	}

	.symptom-list {
		background: $neutral6;
		margin: 0;
		list-style: none;

		li {
			color: $accent-medium2;
			font-size: rem-calc(20);
			font-weight: $global-weight-bold;
			padding: rem-calc(24);

			div {
				display: block;
				max-width: 100%;
				width: #{$global-width/2 - 5};
			}

			&:last-child div {
				padding-bottom: rem-calc(40);
			}
		}
	}

	@include breakpoint(large) {
		.comparison-heading {
		}
		.symptom-list {
			li {
				font-size: rem-calc(25);

				&:nth-child(even) {
					background: $neutral5;
				}

				&:last-child div {
					padding-bottom: 0;
				}
			}
		}
	}

	.emergency-container {
		margin-bottom: 2px;
		.comparison-heading {
			background: $alert-color;
		}
		@include breakpoint(large) {
			margin-bottom: 0;
			margin-right: 2px;
			.comparison-heading {
				padding-right: rem-calc(60);
			}

			.symptom-item {
				display: flex;
			    flex-direction: column;
			    align-items: flex-end;
			    padding-right: rem-calc(60);
			}
		}
	}

	.urgentcare-container {
		margin-top: 2px;
		.vs {
			width: 80px;
			height: 80px;
			border-radius: 80px;
			background: $white;
			color: $neutral3;
			text-align: center;
			line-height: 80px;
			font-size: rem-calc(40);
			font-weight: $global-weight-bold;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			@include breakpoint(large) {
				left: 0;
				top: 50%;
			}
		}
		.comparison-heading {
			background: $accent-dark1;
		}

		.symptom-list {
			li {
				color: $accent-dark2;
			}
		}

		@include breakpoint(large) {
			margin-top: 0;
			margin-left: 2px;
			.comparison-heading {
				padding-left: rem-calc(60);
			}
			.symptom-item {
				padding-left: rem-calc(60);
			}
		}
	}
}