.wp-block-image {
	position: relative;
	
	img {
		position: relative;
		z-index: 1;
	}

	figcaption {
		position: relative;
		background: $white;
		transform: translate(0, -50%);
		z-index: 2;
		padding: rem-calc(12);
		width: auto;
		margin-bottom: 0;
		margin-top: 0;
		margin-left: 32px;
		margin-right: 32px;
		text-align: left;
	}
}