.wp-block-resource-links {
	.block-heading {
		margin-bottom: rem-calc(32);
	}
	.resource-link-grid {
		margin-bottom: rem-calc(32);

		.resource-link {
			border: 2px solid $secondary-color;
			border-radius: $rounded-radius;
			padding: rem-calc(12);
			color: $neutral2;
			font-weight: $global-weight-bold;
			@include flex-align(center, middle);
			@include breakpoint(medium) {
				min-height: 200px;
			}

			.link-contents {
				width: 100%;
				font-size: rem-calc(23);
				line-height: 1.2;
				@include breakpoint(medium) {
					text-align: center;
				}
			}

			i, svg {
				display: block;
				@include breakpoint(medium) {
					margin: 0 auto rem-calc(16);
				}
				font-size: rem-calc(36);
				color: $secondary-color;
			}
		}
	}
}