.wp-block-reveal-more-grid {
	.card {
		flex-grow: 0;

		.excerpt {
			margin-bottom: 0;
			font-size: rem-calc(13);

			span {
				color: $secondary-color;
				font-weight: $global-weight-bold;
			}
		}

		&:hover {
			color: $body-font-color;
		}
	}
}