.wp-block-testimonial {
	background: $neutral6;
	padding: rem-calc(40);
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		left: 10px;
		width: 60px;
		height: 60px;
		background: url(../images/quote-left.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 0;
	}

	> blockquote, > .wp-block-quote {
		padding: 0;
	}

	border-left: none;
	font-weight: $global-weight-bold;
	font-style: italic;

	* {
		position: relative;
		z-index: 1;
	}

	p {
		font-size: rem-calc(20);
	}

	cite {
		font-size: rem-calc(20);
		font-weight: $global-weight-normal;
		&:before {
			content: none;
		}
	}
}