/*!
 * Gutenberg Editor Styles
 */

/** === Includes === */

@charset 'utf-8';

@import 'settings';
@import 'foundation';

.edit-post-layout__content {
	@include foundation-typography;
	@include foundation-button;
	@include foundation-table;


	/** === Content Width === */
	.wp-block {
		width: calc(100vw - (2 * 10));
		@each $breakpoint, $size in $grid-margin-gutters {

			@include breakpoint($breakpoint) {
				width: calc(100vw - ($size));
			}

		}

		&[data-align=full],
		&.block-editor-block-list__layout .block-editor-block-list__block[data-align=full] {
			margin-left: 0;
			margin-right: 0;
		}
	}

	/** === Base Typography === */
	body {
		font-size: $global-font-size;
		font-family: $body-font-family;
		color: $body-font-color;
	}

	/** === Post Title === */
	.editor-post-title__block .editor-post-title__input{
	  @extend h1;
	}

	/** === Button === */
	.wp-block-button {

		// add general foundation button styling to button in editor
		.wp-block-button__link {
			@extend .button;
		}

		// add special styling for squared buttons
		&.is-style-squared .wp-block-button__link {
			border-radius: 0;
		}

		// add outline styles
		&.is-style-outline .wp-block-button__link{
			@extend .hollow;
		}

		// set transparent background to block for outline button
		&.is-style-outline,
		&.is-style-outline:hover,
		&.is-style-outline:focus,
		&.is-style-outline:active {
			background: transparent;
		}
	}

	/** === File === */
	.wp-block-file__button{
		@include button();
	}

	/** === Pullquote === */
	.wp-block-paragraph.has-background{
		padding: rem-calc(20px 30px);
	}

	/** === Table === */
	.wp-block-table td{
		border: none;
	}

	/** === Latest Posts grid view === */
	.wp-block-latest-posts.is-grid{
		list-style: none;
	}

	.wp-block-button__link {
		border-radius: $rounded-radius;
	}

	.wp-core-ui .button, 
	.wp-core-ui .button-secondary, 
	.acf-button,
	.acf-field-link .button {
	    color: #555 !important;
	    border-color: #ccc !important;
	    background: #f7f7f7 !important;
	    box-shadow: 0 1px 0 #ccc !important;
	    border-radius: 3px !important;
	    padding: 0 8px !important;
	    margin-bottom: 0 !important;
	    height: 28px;
	    line-height: 28px;
	    vertical-align: top;
	    font-family: $body-font-family;
	    font-size: 13px;

	    &.button-primary {
		    background: #0085ba !important;	
		    border-color: #0073aa #006799 #006799 !important;
		    box-shadow: 0 1px 0 #006799 !important;
		    color: #fff !important;
		    text-decoration: none !important;
		    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799 !important;
	    }
	}

	i.fas, i.fab, i.far,
	.acf-input .icon_preview i {
		font-style: normal;
		line-height: 1;
	}
}