.page-template-front {
  header#front-hero {
    position: relative;
    overflow: hidden;
    @include center-background-image;
    min-height: calc(100vh - #{$medium-header-height + 60});
    @include breakpoint(large) {
      // min-height: calc(100vh - #{$large-header-height});  bug fix for IE - JHL 1/7/20
      height: calc(100vh - #{$large-header-height});
    }

    @include xy-grid(vertical);
    @include flex-align(center, middle);

    .header-content {
      @include xy-cell(12);

      .content-container {
        // @include overlay($accent-dark2);
        background: rgba($accent-dark1, 0.8);
        border-radius: $rounded-radius;
        overflow: hidden;

        .hero-content {
          position: relative;
          z-index: 1;
          color: $white;
          padding: rem-calc(24);
          @include font-color($white);

          .button-group {
            .button {
              font-weight: $global-weight-bold;
              &:not(:last-child) {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    #scroll-to-content {
      position: absolute;
      bottom: -200px;
      left: 50%;
      width: auto;
      transform: translate(-50%, 0);
      background: rgba($white, 0.8);
      width: 300px;
      height: 300px;
      text-align: center;
      padding-top: rem-calc(45px);
      border-radius: 300px;
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      font-size: rem-calc(14);

      i {
        margin-top: rem-calc(4);
        display: block;
      }
    }
  }

  section#clinic-finder {
    position: relative;
    background-color: $neutral6;
    padding: rem-calc(48) 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/watermark.svg);
      background-size: auto 200%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.06;
      z-index: 0;
    }

    .grid-container {
      position: relative;
      z-index: 1;
    }

    input, select {
      background-color: $white;
    }
  }

  section#differentiators {
    position: relative;
    padding: rem-calc(96) 0;
    background-color: $accent-dark1;
    @include overlay($accent-gradient-dark, 1);
    @include font-color($white);

    &.has-background-image {
      @include center-background-image;
      @include overlay($accent-gradient-dark, 0.9);
    }

    #differentiator-list-items {
      margin-top: rem-calc(32);

      .cell {
        padding-top: rem-calc(24);
        padding-bottom: rem-calc(24);
      }

      .cell:not(:last-child) {
        @include breakpoint(small only) {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 150px;
            border-bottom: 2px solid $white;
          }
        }

        @include breakpoint(large) {
          border-right: 2px solid $white;
        }
      }
    }

    .list-item {
      text-align: center;

      .list-item-icon {
        min-height: 64px;

        i, svg {
          font-size: rem-calc(56);
        }
        img {
          width: 60px;
          height: auto;
        }
      }

      .list-item-text {
        font-weight: $global-weight-bold;
      }
    }
  }

  section#brands {
    position: relative;
    padding: rem-calc(96) 0;

    #brands-content-container {
      //background-image: url('../images/umbrella.svg');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 50% auto;
    }
  }

  section#testimonial-news {
    padding: 0 0 rem-calc(48);
    
    blockquote {
      height: 100%;
    }

    #news-column {
      padding-top: rem-calc(8);
      .column-heading {
        margin-bottom: rem-calc(24);
      }

      article.post {
        .entry-title, .entry-title a {
          @extend h5;
          color: $secondary-color;
        }
      }

      #read-more {
        &, .button {
          margin-bottom: 0;
        }
      }
    }
  }

  &.no-scroll {
    overflow: hidden;
  }

  #mobile-splash-pane {
    opacity: 1;
    transition: all 0.3s ease;
    background: $accent-secondary1;

    #intro-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease;
      // width: 100%;
      padding: 0 rem-calc(32);

      svg, img {
        width: 200px;
        height: auto;
        *{
          fill: $white;
        }
      }
    }

    #quick-buttons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      overflow: scroll;

      #logo-section {
        position: relative;
        padding: rem-calc(16 16 32);
        background: $white;

        img.logo {
          display: block;
          margin: rem-calc(16) auto;
          position: relative;
          max-height: 150px;
          z-index: 3;
        }
      }

      #menu-section {
        .splash-pane-menu {
          height: 100%;

          li {
            width: 100%;

            a.button {
              height: 100%;
              padding-left: rem-calc(32);
              padding-right: rem-calc(32);

              display: flex;
              flex-direction: row;
              align-items: center;

              i, .svg-inline--fa {
                font-size: rem-calc(26);
                margin-right: rem-calc(20);
              }
            }
            
            &:first-child {
              border-bottom: 2px solid $white;
            }

            &:nth-child(odd):not(:first-child) {
              a {
                background-color: $accent-dark3;
                &:hover {
                  background-color: darken($accent-dark3, 2%);
                }
              }
            }
          }
        }
      }
    }
  }
}