.page-template-landing-page {
	.hide-for-landing-page {
		display: none;
	}

	.lp-navigation {
		min-height: $medium-header-height;
		// padding: rem-calc(16) 0;

		@include breakpoint(medium down) {
			.grid-container, .grid-x {
				height: $medium-header-height;
			}
			.site-desktop-title {
				// display: block;
				width: 300px;
				margin: 0 auto;
			}
		}
		@include breakpoint(large) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.quick-links {
			&, .button {
				margin-bottom: 0;
			}
		}
	}

	.featured-hero {
		background-color: $white;
		justify-content: center;
		.main-container {
			.entry-title {
				width: #{$global-width/2};
				max-width: 100%;
			}
		}

		&:before {
			background: linear-gradient(90deg, #FFFFFF 0%, rgba(255,255,255,0.74) 44.84%, rgba(255,255,255,0) 100%);
		}

		@include font-color($primary-color);
		p {
			color: $body-font-color;
		}

		svg {
			opacity: 0.5;
			left: auto;
			right: 0;
			transform: translate(20%, 0);
			height: 80%;
		}

		@include breakpoint(large) {
			min-height: 65vh;

			svg {
				left: 50%;
				right: auto;
				transform: translate(-50%, 0);
				width: 800px;
				height: auto;
			}
		}
	}
}