.google-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	//margin: 20px 0;
}

/* fixes potential theme css conflict */
.google-map img {
   max-width: inherit !important;
}

.post-type-archive-location {
	#locations-container {
		position: relative;

	}

	#loading-animation {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $white;

		.icon-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			line-height: 1;
		}
	}
	#clinic-finder {
		position: relative;
	    background-color: $neutral6;
	    padding: rem-calc(12) 0;
	}

	#location-display-controls {
		margin-bottom: 0;
		.button {
			@extend .squared;
			margin: 0;
		}
	}

	#locations-map {
		height: 460px;
		
		@include breakpoint(large) {
			height: 640px;
		}

		border: none;
		margin-bottom: -50px;
	}

	#locations-list {
		padding: rem-calc(24) 0;
	}

	.site-footer {
		margin-top: 0;
	}
}

.location-card {
	position: relative;
	height: 100%;

	&.info-window {
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	p {
		font-size: rem-calc(13);
	}

	hr {
		margin: rem-calc(8) auto;
	}

	.location-image {
		width: 100px;
		height: 100px;
		@include breakpoint(small only) {
			position: absolute;
			top: 0;
			left: 0;
		}
		@include breakpoint(medium) {
			width: 100%;
			height: auto;
		}
	}

	.card-section {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.location-logo-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: auto;
		min-height: 60px;
		transform: translate(0, -50%);
		background: $white;
		padding: 8px;
		@include xy-grid();
		@incldue flex-align(center, middle);

		a {

		}

		.location-logo {
			// @include xy-grid();
			@include xy-cell(12);
			@include flex-align-self(middle);
			margin: 0;
			width: 100%;
		}
	}

	.location-meta {
		flex-grow: 1;
	}

	.map-link {
		text-decoration: underline;
		font-size: rem-calc(13);
		line-height: 1;

		@include breakpoint(small only) {
			position: absolute;
			top: 110px;
			left: 10px;
		}
	}

	.primary-location-info {
		@include breakpoint(small only) {
			min-height: 140px
		}
	}

	.location-title {
		font-size: rem-calc(19);
	}

	.address {
		margin-bottom: 0;
	}

	.phone {
		color: $body-font-color;
		text-decoration: underline;
	}

	.hours {
		margin-bottom: 0;
		padding-bottom: rem-calc(8);
	}

	.wait-time {
		margin-bottom: 0;
		padding-bottom: rem-calc(8);	
	}

	.button-group {
		flex-shrink: 1;
		margin-bottom: 0;

		.button:not(:last-child) {
			margin-right: rem-calc(8);
		}
	}

	.ride-services {
		p {
			margin-bottom: 0;
		}

		a {
			color: $neutral3;
			margin-right: 6px;
			i {
				font-size: rem-calc(20);
			}
		}
	}
}

.single-location {
	.address {
		margin-bottom: 0;
	}
	.phone {
		color: $body-font-color;
	}
	.checkin {
		min-width: 150px;
	}
	.ride-services {
		@include breakpoint(medium) {
			@include flex-align(right, null);
		}

		a {
			color: $neutral3;
			margin-right: 6px;
			i {
				font-size: rem-calc(24);
			}
		}
	}

	.location-logo {
		margin-bottom: rem-calc(24);
	}

	.google-map {
		height: 220px;
		margin-bottom: 0;
		border: none;
	}
	.directions-link {
		text-decoration: underline;
	}
}