#news-filter {
	background: $light-gray;

	input, select {
		background-color: $white;
	}
}

.featured-article {
	background-color: $accent-dark2;

	.image-container {
		position: relative;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@include breakpoint(small only) {
			background-image: none !important;
			padding: rem-calc(16 32 8);
		}

		.entry-date {
			position: absolute;
			top: 0;
			right: 0;
			background: $accent-light3;
			padding: 8px;
			font-weight: $global-weight-bold;
			font-style: italic;
			@include breakpoint(large) {
				transform: translate(50%, 0);
			}
		}
	}

	.info-container {
		color: $white;
		padding: rem-calc(32);
		@include breakpoint(large) {
			padding: rem-calc(32 64);
		}

		.entry-info {
			width: $global-width / 12 * 8;
			max-width: 100%;
		}

		.featured-label {
			color: $accent-light3;
			text-transform: uppercase;
			font-style: italic;
			font-weight: $global-weight-bold;
		}

		.entry-title, .entry-title a {
			color: $white;
		}
	}
}

ul.pagination {
	li {
		&.current {
			background: transparent;
			color: $secondary-color;
		}

		color: $neutral2;
		font-weight: $global-weight-bold;

		a {
			color: $neutral2;
		}

		&.pagination-next a::after {
			content: none;
		}
		&.pagination-previous a::before {
			content: none;
		}
	}
}

.post.excerpt {
	.featured-thumbnail {
		@include xy-cell(12);

		.entry-date {
			font-weight: $global-weight-bold;
			font-style: italic;
			color: $neutral2;
		}
	}

	.info-container {
		@include xy-cell(12);
		@include breakpoint(medium) {
			@include xy-cell(auto);
		}
	}

	&.has-post-thumbnail {
		.featured-thumbnail {
			position: relative;
			@include xy-cell(shrink);

			img {
				@include breakpoint(small only) {
					width: 100px;
				}
			}
			
			.entry-date {
				margin-left: rem-calc(16);
				@include breakpoint(medium) {
					position: absolute;
					top: 0;
					right: 0;
					transform: translate(50%, 0);
					background: $white;
					padding: rem-calc(8);
					margin-left: 0;
				}
			}
		}

		.info-container {
			padding-top: rem-calc(24);
			padding-bottom: rem-calc(24);
			@include breakpoint(medium) {
				padding-top: rem-calc(32);
				padding-bottom: rem-calc(32);
			}
		}
	}
}

.single-post {
	article {
		.entry-date {
			font-weight: $global-weight-bold;
			font-style: italic;
		}

		.entry-meta {
			margin-bottom: rem-calc(24);
		}

		.entry-featured-image {
			position: relative;
			margin-bottom: rem-calc(24);

			.entry-date {
				position: absolute;
				top: 0;
				left: 0;
				background: $white;
				padding: rem-calc(8);
			}
		}
		footer {
			width: 100%;
			padding-top: rem-calc(32);

			.sharing-block {
				p {
					margin-bottom: 0;
				}

				hr {
					margin-top: 0;
				}

				.button-group {
					margin-bottom: 0;
				}
			}
		}
	}
}