.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.button, button {
	font-weight: $global-weight-bold;
	
	&.squared {
		border-radius: 0;
	}

	&.white {
		color: $primary-color;
	}

	&.offwhite {
		background: $neutral6;
		color: $neutral1;
	}
	&.secondary{
		color: $white;
		&:hover{
			color: $white;
		}
	}
}