.featured-hero {
  position: relative;
  overflow: hidden;
  background-color: $accent-dark1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include overlay($accent-dark1);
  min-height: rem-calc(200);
  padding-top: rem-calc(32);
  padding-bottom: rem-calc(16);

  @include breakpoint(medium) {
    min-height: rem-calc(250);
  }

  @include breakpoint(xlarge) {
    min-height: rem-calc(300);
  }

  @include xy-grid(vertical);
  @include flex-align(right, bottom);
  
  .grid-container {
    
  }

  h1.entry-title {
    position: relative;
    z-index: 2;
    color: $white;
    font-weight: $global-weight-bold;
  }

  svg {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 200%;
    width: auto;
    //transform: translate(-50%, 0);
    opacity: 0.25;
  }
}
